<!-- 一般區域 (非近斷層) 專用報告書內容 -->
<div class="section">
    <h3>2. 譜加速度參數</h3>
    <h4>2.1 震區水平譜加速度係數 <span class="chapter-ref">(表2-1)</span></h4>
    <div class="content-block">
        <p>本工址未鄰近規範所列之活動斷層。</p>
        <table class="table" style="margin-top: 1rem;">
            <thead>
            <tr>
                <th>參數</th>
                <th>數值</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>$S_{s}^{D}$</td>
                <td>{{ results.final_Ss_params_SsD|floatformat:4 }}</td>
            </tr>
            <tr>
                <td>$S_{1}^{D}$</td>
                <td>{{ results.final_Ss_params_S1D|floatformat:4 }}</td>
            </tr>
            <tr>
                <td>$S_{s}^{M}$</td>
                <td>{{ results.final_Ss_params_SsM|floatformat:4 }}</td>
            </tr>
            <tr>
                <td>$S_{1}^{M}$</td>
                <td>{{ results.final_Ss_params_S1M|floatformat:4 }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--
    ================================================================
    ====   【核心修改】引用共用模板片段                       ====
    ================================================================
    -->
    {% include 'EqStaticAnalysis_TW/_report_snippet_chapter_2_2.html' %}
{#    {% include 'EqStaticAnalysis_TW/_report_snippet_chapter_2_3.html' %}#}

</div>