<!-- ======================================================= -->
<!-- ====  第 2.3 節 工址譜加速度係數 (共用模板片段)     ==== -->
<!-- ======================================================= -->
<div class="section">
    <h4>2.3 工址譜加速度係數<span class="chapter-ref">(2.5節)</span></h4>
    <div class="content-block">
        <table class="table">
            <thead>
            <tr>
                <th>地震情境</th>
                <th>$S_{DS}$ | $S_{MS}$</th>
                <th>$S_{D1}$ | $S_{M1}$</th>
                <th>$T_{0}^{D}$ | $T_{0}^{M}$ (sec)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>設計地震</td>
                <td>{{ results.SDS|floatformat:4 }}</td>
                <td>{{ results.SD1|floatformat:4 }}</td>
                <td>{{ results.T0D|floatformat:3 }}</td>
            </tr>
            <tr>
                <td>中小度地震</td>
                <td>{{ results.SDS_no_fault|floatformat:4 }}</td>
                <td>{{ results.SD1_no_fault|floatformat:4 }}</td>
                <td>{{ results.T0D_no_fault|floatformat:3 }}</td>
            </tr>
            <tr>
                <td>最大考量地震</td>
                <td>{{ results.SMS|floatformat:4 }}</td>
                <td>{{ results.SM1|floatformat:4 }}</td>
                <td>{{ results.T0M|floatformat:3 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>